<h1>Edit <%= @auditorium.name %></h1>
<%= link_to "<<Back to the list", theater_auditoriums_path %>

<%= form_for @auditorium, url: theater_auditorium_path, method: :patch  do |a| %>
  <p>
    <%= a.text_field :name %>
  </p>
  <p>
    <%= a.text_field :capacity %>
  </p>
  <p>
    <%= a.submit value="Edit Auditorium" %>
  </p>
<% end %>