<h1><%= @theater.name %>'s auditoriums</h1>
<%= link_to "<<Back to list", theater_path(@theater) %>
<hr>
<table>
  <tr>
    <th>Name</th>
    <th>Capacity</th>
  </tr>
  <% @auditoriums.each do |auditorium| %>
  <tr>
    <td><%= auditorium.name %></td>
    <td><%= auditorium.capacity %></td>
    <!-- <td><%#= link_to "Show", auditorium_path(auditorium) %></td> -->
    <td><%= link_to "Edit", edit_theater_auditorium_path(@theater.id, auditorium.id) %></td>
    <td><%= link_to "Delete", theater_auditorium_path(@theater.id, auditorium.id), method: :delete, data: {confirm: "Are you sure?"}%></td>
  </tr>
  <% end %>
</table>
<hr>
<%= link_to "Add New Auditorium", new_theater_auditorium_path %>