<h1>Adding new auditorium</h1>
<% if flash[:error] %>
  <div>
    <%= flash[:error] %>
  </div>
<% end %>

<%= link_to "<<Back to list", theater_auditoriums_path %>

<%= form_for(@auditorium, url: theater_auditoriums_path, method: :post) do |a| %>
  <p>
    <%= a.text_field :name %>
  </p>
  <p>
    <%= a.text_field :capacity %>
  </p>
  <p>
    <%= a.submit value="Add Auditorium" %>
  </p>
<% end %>