<h1>Displaying <%= @theater.name %></h1>
<%= link_to("<<Back to list", theaters_path) %>
<hr>

<table style="text-align: center">
  <thead>
    <th>Name</th>
    <th>Email</th>
    <th>Address</th>
    <th>Phone Number</th>
  </thead>
  <tbody>
      <tr>
        <td><%= @theater.name %></td>
        <td><%= @theater.email %></td>
        <td><%= @theater.address %></td>
        <td><%= @theater.phone_number %></td>
      </tr>
  </tbody>
</table>
<hr>
<form>
<%= link_to "Movies", theater_theater_movies_path(@theater.id) %>
<%= link_to "Auditorium", auditoriums_path %>
<%= link_to "Sessions", "#" %>
</form>